.btn-primary{
    background-color: #149D89;
    border-color: #149D89;
}
.btn-primary:hover {
    color: #fff;
    background-color: #149D89;
    border-color: #149D89;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #149D89;
    border-color: #149D89;
    box-shadow: 0 0 0 0.2rem #149d894d;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #149D89;
    border-color: #149D89;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #149d8941;
}

.main-page{
    display: flex;
    height: 100%;
    width: 100%;
}
.dashboard-page{
    height: 100%;
    width: 100%;
}