.bb-0{
    margin-bottom: 0px !important;
}
.is-invalid .cd-signin-modal__error{
    visibility: visible;
    opacity: 1;
    padding: 0.3em;
    font-size: 12px;
    bottom: -30px;
    left: 0px;
}
.invalid-feedback {
    margin-top: -1rem;
}


/* additional css */


.navbar-collapse.collapsing, .navbar-collapse.collapse.show{

    position: fixed;

    top: 50px;

    left: 0px;

    right: 0px;

    background-color: #d33e98;

    z-index: 100;

}

 

@media only screen and (max-width: 600px){

    #home-section{

        padding-top:0;

        padding-bottom:0;

    }

    .btnlist{

        display:flex;

        margin-left:-5px;

        margin-right:-5px;

    }

    .btnlist > li{

        flex:1;

        margin-right:5px;

        margin-left: 5px;

    }

    .btnlist .lightBtn, .btnlist .darkBtn{

        width:100%;

    }

}

#home-section h1{
    font-size : 18px;
    font-weight:600;
}

.cd-signin-modal__input[type=submit]{

    padding: 16px 40px !important;

}